// 文字サイズの初期化（1rem=1px）
html {
    font-size: 62.5%;
}

// body設定
body {
    font-size: 1.6rem; //基本文字サイズ
    font-weight: bold;
    color: #333333; //基本文字色
    font-family: "ヒラギノ明朝 Pro", serif; //フォントタイプ
    text-align: center;
}

// 画像設定
img,
svg {
    vertical-align: bottom;
    width: 100%;
}

// リンクタグ
a {
    text-decoration: none;
    display: inline-block;
    &:hover {
        opacity: 0.7;
        transition: 0.3s;
    }
}

h2 {
    font-size: 4rem;
}

//ブレイクポイント
$breakPointList: (
    "sp": "screen and (max-width: 375px)",
    "tb": "screen and (max-width: 768px)",
) !default;

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakPointList, $breakpoint)} {
        @content;
    }
}

.header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: black;
    &__logo {
        width: 193px;
        height: 50px;
        margin-left: 10px;
    }
    &__nav {
        margin-left: auto;
        .nav-list {
            display: flex;
            list-style: none;
            .nav-item {
                @include mq() {
                    display: none;
                }
                margin-right: 25px;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

.fv {
    width: 100%;
    height: 551px;
    background-image: url(../image/top-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq() {
        display: block;
        padding-top: 243px;
    };
    p {
        font-size: 6rem;
        @include mq() {
            font-size: 2.6rem;
        };
        color: black;
    }
}

.course {
    h2 {
        margin-top: 53px;
        margin-bottom: 40px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        @include mq() {
            display: block;
        };
        padding: 0 (28%/12.8);
        @include mq() {
            padding: 0 10%;
        };
        &--col4 {
            margin-bottom: -30px;
            > .cards__item {
                width: ((100%-(28%/12.8)*2-(20%/12.8)*3)/4);
                margin-bottom: 30px;
                margin-right: (20%/12.8);
                &:nth-of-type(4n) {
                    margin-right: 0;
                }
                @include mq() {
                    width: 100%;
                    margin-right: 0;
                };
            }
        }
    }
    .card {
        box-shadow: 0px 3px 6px #00000029;
        width: 100%;
        &:last-child {
            margin-right: 0;
        }
        &__img {
            object-fit: cover;
        }
        &__body {
            padding: 20px 11px 10px;
        }
        &__text {
            font-size: 1.8rem;
            padding-bottom: 30px;
        }
        &__limit-wrapper {
            width: 80%;
            margin: 0 auto;
            border-top: 1px solid #707070;
        }
        &__limit-text {
            font-size: 1.6rem;
            margin-top: 9.5px;
        }
        &__limit-time {
            font-size: 1.6rem;
            margin-top: 8px;
        }
    }
    .btn {
        display: inline-block;
        width: 310px;
        max-width: 100%;
        padding: 17px 0px;
        margin: 50px 0 70px;
        @include mq() {
            margin: 40px 0 53px;
        };
        background-color: white;
        border: 1px solid #eeeeeeee;
        box-shadow: 0 3px 6px #00000029;
        font-size: 1.8rem;
        text-align: center;
        text-decoration: none;
        transition: 0.25s;
        &:hover {
            box-shadow: none;
        }
    }
}

.teacher {
    width: 100%;
    padding-bottom: 83px;
    .media {
        display: flex;
        align-items: center;
        @include mq() {
            display: block;
        };
        width: 80%;
        @include mq() {
            width: 100%;
        };
        margin: 0 auto;
        &__img-wrapper {
            flex: 0 1 27.58333%;
            margin-right: 5%;
            @include mq() {
                margin-right: 0;
                margin: 0 auto;
            };
        }
        &__img {
            width: 100%;
            width: 250px;
            height: 250px;
            @include mq() {
                width: 280px;
                height: 280px;
            };
        }
        &__body {
            text-align: left;
            flex: 1;
            > *:last-child {
                margin-bottom: 0;
            }
        }
        &__title {
            margin: 30px 0;
            font-size: 4rem;
            @include mq() {
                font-size: 2.4rem;
                text-align: center
            };
        }
        &__text {
            @include mq() {
                font-size: 1.8rem;
                line-height: 2.4rem;
                padding: 0 26px;
            };
        }
        &--1 {
            margin-top: 45px;
        }
        &--2 {
            margin-top: 57px;
        }
    }
}

.contact {
    background-image: url(../image/contact-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 62px 0 34px;
    color: white;
    h3 {
        font-size: 3.6rem;
    }
    p {
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-top: 53px;
    }
    .btn {
        display: inline-block;
        width: 210px;
        max-width: 100%;
        padding: 19px 0px;
        margin: 32px 0 0px;
        background-color: #dc143c;
        border-radius: 5px;
        box-shadow: 0px 3px 6px #00000029;
        font-size: 1.6rem;
        text-align: center;
        text-decoration: none;
        transition: 0.25s;
        color: white;
    }
}

.footer {
    background-color: black;
    color: white;
    .copyright {
        line-height: 80px;
        p {
            font-size: 1.4rem;
            @include mq() {
                font-size: 1.5rem;
            };
        }
    }
}
